html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    min-height: 100%;
}

.profile-container {
    width: 300px;
}
  
.profile-container > .profile {
    display: block;
    width: 100%;
    height: auto;
}

.front-summary {
    height: 100%;
}

div.navbar > .top-nav {
    max-height: 56px;
    min-height: 56px;
    height: 56px;
}

.front-summary {
    height: calc(100vh);
    z-index: 99;
}

.download-link {
    text-decoration: underline;
    color: white;
}

main[role=main] {
    height: calc(100% - 56px);
}

main[role=main] > .container-fluid,
main[role=main] > .container-fluid > .row,
main[role=main] > .container-fluid > .row > .project-bar,
main[role=main] > .container-fluid > .row > .project-detail {
    height: 100%;
}

.project-bar {
    max-height: 100%;
    overflow: auto;
}

button.navbar-toggler:focus {
    outline: none !important;
}

button.collapse-summary {
    color: white;
    background: none !important;
    border: none !important;

    transition: transform 250ms;
    -webkit-transition: transform 250ms;
    -moz-transition: transform 250ms;
    -ms-transition: transform 250ms;
}

button.collapse-summary:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
}


button.collapse-summary:focus {
    outline: none !important;
}

button.collapse-summary > .material-icons {
    vertical-align: middle;
}

.contact-icon {
    color: white;
    font-size: 24px;
}

.bd-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: .875rem;
}

.section-nav {
    border-left: 1px solid rgb(238, 238, 238);
    padding-left: 16px;
    padding-inline-start: 16px !important;
    margin: 0;

    list-style: none;
}

.section-nav a {
    color: #99979c !important;
    font-weight: 400;
    font-size: 14px;
}

.img-container {
    width:100%;
    height:225px;
    background:#55595c;
    color:#eceeef;

    display: block;
    position: relative;
    overflow: hidden;
}

.img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}